* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn {
    background-color: brown;
    border: none;
    color: white;
    border-radius: 15px;
}

.img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 15px;
}

.parent {
    background-color: aquamarine;
}

.child {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    background-color: bisque;
}

.child1 {
    margin-bottom: 50px;
}

.child2 {
    margin-top: 5px;
    margin-bottom: 20px;
}

.child3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

