* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: aqua;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  width: 50px;
  margin-left: 25px;
}

.logo img {
  width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
}

#navigation_list {
  display: flex;
  align-items: center;
}

.navigation_item {
  margin-right: 20px;
}

.navigation_item:last-child {
  margin-right: 0;
}

.navigation_link {
  font-size: 22px;
}

main {
  height: 150px;
}

.red-text {
  color: red;
}
