.post {
  $self: &;
  width: auto;
  padding: 15px;
  background-color: #9ae2e4;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__info {
    width: 60%;
  }

  &__date {
    margin-bottom: 10px;
    font-size: 14px;
    color: gray;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

  &__text {
    font-size: 18px;
    color: gray;
  }

  &__img {
    width: 40%;
    cursor: pointer;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__likes {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__info {
      margin-top: 5px;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s linear ;

    &:last-child {
      margin: 0;
      opacity: 1;
    }

    &_dislike {
      margin-top: 10px;
    } 

    &_active {
      opacity: 1;
    }

    
    &:hover {
      opacity: 0.5;
    }
  }

  &__like {
    margin-right: 10px;
  }

  &__line {
    width: 100%;
    border-bottom: 2px solid #53beaec4;
  }

  &_medium {
    #{$self}__text {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &_small {
    #{$self}__text {
      display: none;
    }

    #{$self}__info {
      width: 80%;
    }

    #{$self}__img {
      width: 20%;
    }
  }

 

  &_black {
    background-color: #6d6d6d;

    #{$self}__date,
    #{$self}__title {
      color: #d1d1d1;
    }

    #{$self}__title {
      color: #ffffff;
    }

    #{$self}__line {
      border-bottom: 2px solid #343434;
    }


  }
}
