.post {
  $self: &;
  margin: 0 auto;
  background-color: #53beae33;
  padding: 30px 10px;
  width: auto;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__info {
    width: 60%;
  }

  &__date {
    font-size: 16px;
    color: #757575;
    margin-bottom: 20px;
  }

  &__title {
    display: block;
    font-size: 30px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 30px;
    cursor: pointer;
    color: #343434;
  }

  &__text {
    font-size: 18px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  &__img {
    width: 40%;
    height: 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }

  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;

    &:last-child {
      margin: 0;
    }
  }

  &__line {
    width: 100%;
    border-bottom: 2px solid #53beaec4;
  }

  &_medium {
    #{$self}__wrapper {
      flex-direction: column-reverse;
    }

    #{$self}__text {
      // display: -webkit-box;
      // overflow: hidden;
      // -webkit-line-clamp: 2;
      // -webkit-box-orient: vertical;
      display: none;
    }

    #{$self}__info {
      width: 100%;
    }

    #{$self}__img {
      width: 100%;
      height: 200px;
    }

    #{$self}__title {
      font-size: 20px;
      margin: 0;
    }

    #{$self}__actions {
      margin: 10px 0;
    }
  }

  &_small {
    padding: 20px 10px;

    #{$self}__text {
      display: none;
    }

    #{$self}__date {
      margin-bottom: 10px;
    }

    #{$self}__title {
      font-size: 18px;
      margin: 0;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    #{$self}__info {
      width: 80%;
    }

    #{$self}__img {
      width: 40%;
      height: 80px;
    }

    #{$self}__actions {
      margin: 0px 0 10px;
    }

    #{$self}__icon {
      width: 20px;
      height: 20px;
      margin-right: 15px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &_black {
    background-color: #6d6d6d;

    #{$self}__date,
    #{$self}__title {
      color: #d1d1d1;
    }

    #{$self}__title {
      color: #ffffff;
    }

    #{$self}__line {
      border-bottom: 2px solid #343434;
    }
  }
}
