.square {
  position: relative;
  text-align: center;
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid #252525;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  color: aliceblue;
  background: #c8fcff;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  cursor: pointer;
  transition: background-color 0.1s linear;
  display: flex;

  &__hover {
    &:hover {
      background-color: #6be6f9;
    }
  }
}