* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
ul,
ol {
  list-style: none;
}

.btn {
  border: 0;
  border-radius: 10px;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.btn_large {
  padding: 10px 25px;
}

.btn_blue {
  background-color: #00ffff;
}

.btn_blue:hover {
  background-color: #3fdddd;
}

.btn_small {
  padding: 4px 10px;
}

.btn_red {
  background-color: #ff2752;
}

.btn_red:hover {
  background-color: #d82347;
}

.input {
  padding-left: 15px;
  border-radius: 10px;
  transition: background-color 0.1s linear;
}

.input:focus {
  background-color: #fff9ce;
}

.completed.todo__item {
  background-color: #afa9a9;
}

.completed .todo__text {
  text-decoration: line-through;
  background-color: #d3d3d3;
}