.todo-list {
  padding: 25px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 3px solid #000000;
    border-radius: 25px;
    background-color: #eefffe;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 15px;

  &__create-field {
    width: 50%;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 15px;

  &__all,
  &__completed {
    display: flex;
    align-items: center;
  }

  &__all-title,
  &__completed-title {
    white-space: break-spaces;
  }

  &__text-field {
    width: 40%;
  }
}

.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.todo {
  &__item {
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #000000;
    border-radius: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    padding: 5px;
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    background-color: #ffffff;
  }

  &__date {
    white-space: pre-line;
    text-align: end;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.todo__item_completed {
  background-color: #c1bcbc;
}

.todo__item_completed .todo__text {
  text-decoration: line-through;
  background-color: #d3d3d3;
}
