@import "./general";

.todo-list {
  width: 100%;
  height: 100vh;
  padding: 25px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 3px solid #000000;
    border-radius: 25px;
    background-color: #eefffe;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;

  &__create-field {
    width: 50%;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;

  &__all,
  &__completed {
    display: flex;
    align-items: center;
  }

  &__all-title,
  &__completed-title {
    white-space: break-spaces;
  }

  &__text-field {
    width: 40%;
  }
}

.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.todo {

  &__item {
    border: 2px solid #000000;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    min-height: 80px;
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__text {
    width: 80%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:last-child {
    margin-bottom: 0;
  }
}