.success {
  padding: 50px 0;
  
  &__wrapper {
    margin: 0 auto;
    max-width: 600px;
    
  }

  &__text {
    margin-bottom: 50px;

    span {
      font-weight: 600;
    }
  }



  &__btn {
    width: 100%;

  }
}